.canvas {
  max-width: 100%;
}
.panel-small {
  max-width: 100%;
}
.arrow{
    font-size: 60px;
    width: 30%;
}
.play{
    font-size: 60px;
    width: 30%;
}
footer{
  padding-left: 15px;
  position:absolute; 
  bottom:0; 
  width:100%;
}